<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <p>{{ data.text }}</p>
  <div class="dates">
    <div>
      <h2>Created</h2>
      <p class="created">{{ data.created.toLocaleString("en", {
        year: "numeric",
        month: "long",
        day: "numeric",
        hour: "numeric",
        minute: "numeric"
      }) }}</p>
    </div>
    <div>
      <h2>Deadline</h2>
      <p class="deadline">{{ data.deadline.toLocaleString("en", {
        year: "numeric",
        month: "long",
        day: "numeric",
        hour: "numeric",
        minute: "numeric"
      }) }}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
