.editor {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.new-task-btn {
  position: absolute;
  align-self: flex-end;
  margin: 5px 15px;
}

mat-selection-list {
  margin-top: 50px;
}

.title {
  font-weight: bold;
  text-align: left  ;
}

.list-control {
  align-self: flex-end;
}

.list-control button{
  margin: 5px;
}



@media screen and (max-width: 1024px) {
  .editor {
    width: 100%;
  }
}
